<div class="card">
  <div class="card-block">
<p>
  <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> Arif News is a news feeds website independent of any political, ethnic or religious group. It brings you latest news  feeds about Ethiopia from local and International medias as they happen.
</p>
</div>
</div>
